CircleBreak.sln
mono_crash.a569772c8.0.json
UniRx.csproj
UniTask.Addressables.csproj
UniTask.csproj
UniTask.Editor.csproj
UniTask.Linq.csproj
UniTask.TextMeshPro.csproj
Assets/Plugins.meta
*.meta
*.json
*.csproj
*.cs
Library/AnnotationManager
*.graph
Library/*
Logs/*
Temp/*
*.asmdef
